# List



*   Contains hetrogeneous objects
*   Contained within [ ]
*   Separated by comma(,)

**Declaration**

In [ ]:
list1=[]
list2=[1,2]
list3=['a',1,'#']
list4=list()
list4=[1,2,3,4]

In [ ]:
print(list1, '\n',
      list2, '\n',
      list3, '\n',
      list4, '\n')

[]
 [1, 2]
 ['a', 1, '#']
 [1, 2, 3, 4]

**Traversal**

In [ ]:
# forward traversal
# range(start_index, end_index)

for i in range(len(list4)):
  print(list4[i])

1
2
3
4

In [ ]:
# backward traversal
# range(start_index, end_index, increment)

for i in range(len(list4)-1,-1,-1):
  print(list4[i])

4
3
2
1

**Operations**

In [ ]:
#accessing item in a list
#list_name[index]
#list_name[start_index:end_index]  #also called slicing

print(list4[1],   '\n', 
      list4[0:3], '\n', 
      list4[:3],  '\n', 
      list4[1:],  '\n',
      list4[-1])

2
 [1, 2, 3]
 [1, 2, 3]
 [2, 3, 4]
 4

In [ ]:
#append(insert at end)
#list_name.append(item)

list1.append('new_element')
list1

['new_element']

In [ ]:
#extend (insert multiple items simultaneously)
#list_name.extend([list of items])

list1.extend(['new_element1','new_element2', 'new_element3'])
list1

['new_element', 'new_element1', 'new_element2', 'new_element3']

In [ ]:
#insert at position
#list_name.insert(position, value)

list1.insert(2,'new')
list1

['new_element', 'new_element1', 'new', 'new_element2', 'new_element3']

In [ ]:
#delete 
#list_name.remove(item)
#list_name.pop(index)
#del list_name([start_index: end_index])

print('Before delete operation')
print(list1, '\n',
      list2, '\n',
      list3, '\n',
      list4, '\n')

list1.remove('new') #removes the first occurrence of item 
list2.pop(1)
del list3[-1]
print('After delete operation')
print(list1, '\n',
      list2, '\n',
      list3, '\n',
      list4, '\n')

Before delete operation
['new_element', 'new_element1', 'new', 'new_element2', 'new_element3']
 [1, 2]
 ['a', 1, '#']
 [1, 2, 3, 4]

After delete operation
['new_element', 'new_element1', 'new_element2', 'new_element3']
 [1]
 ['a', 1]
 [1, 2, 3, 4]

In [ ]:
#reverse
#list_name.reverse()

print('Before reverse')
print(list1)
print('\nAfter reverse')
list1.reverse()
print(list1)

Before reverse
['new_element', 'new_element1', 'new_element2', 'new_element3']

After reverse
['new_element3', 'new_element2', 'new_element1', 'new_element']

In [ ]:
#sort
#list_name.sort()

print('Before sorting')
print(list1)
print('\nAfter sorting')
list1.sort()
print(list1)

Before sorting
['new_element', 'new_element1', 'new_element2', 'new_element3']

After sorting
['new_element', 'new_element1', 'new_element2', 'new_element3']

# String


*  Sequence of characters
*  Enclosed within single quotes (' ') or double quotes (" ")

**Declaration**

In [ ]:
s1='string1'
s2="string2"
s3='''string
    3, in multiple 
    lines'''

In [ ]:
s1

'string1'

In [ ]:
s2

'string2'

In [ ]:
s3

'string\n    3, in multiple \n    lines'

**Concatenation**

In [ ]:
# + operator  is used for concatenation

str_concat= s1+s2

In [ ]:
str_concat

'string1string2'

In [ ]:
# multiple string concatenation

str_concat=s1+' '+s2

In [ ]:
str_concat

'string1 string2'

**Case-Folding**

In [ ]:
# convert to lower case

str_concat.lower()

'string1 string2'

In [ ]:
# convert to upper case

str_concat.upper()

'STRING1 STRING2'

In [ ]:
# split a string
# string_name.split(delimeter)
# return type: List

str_concat.split(' ')

['string1', 'string2']

In [ ]:
str_concat.split(' ')[0]

'string1'

In [ ]:
str_concat.split(' ')[1]

'string2'

In [ ]:
# length of string
# len(string_name)

len(str_concat.split(' ')[1])

7

In [ ]:
# string traversal
# range(start_index, end_index)

for i in range(len(str_concat.split(' ')[1])):
    print(str_concat.split(' ')[1][i])

s
t
r
i
n
g
2

# Dictionary


*   Contains *key:value* pairs
*   Unordered collection (no access by index)
*   Comma separated
*   Enclosed within { }

**Declaration**

In [ ]:
dict1={1:'First'}
dict2=dict({1:'First',2:'Second'})
dict3=dict([(1,'First'),(2,'Second'),(3,'Third')])

print(dict1,'\n', dict2,'\n', dict3)

{1: 'First'}
 {1: 'First', 2: 'Second'}
 {1: 'First', 2: 'Second', 3: 'Third'}

In [ ]:
# accessing element in dictionary
# dict_name[key]

print(dict2[2])

Second

**Operations**

In [ ]:
# Adding new element
# dict_name[key]=value

print('dict3 before','\n',dict3,'\n')
dict3[4]='Fourth'       # similar to update the value
print('dict3 after')
dict3

dict3 before
 {1: 'First', 2: 'Second', 3: 'Third'}

dict3 after

{1: 'First', 2: 'Second', 3: 'Third', 4: 'Fourth'}

In [ ]:
# removing element
# del dict_name[key]
# dict_name.pop(key)

print('dict2 Before delete method 1\n',dict2,'\n')
del dict2[2]
print('dict2 After delete method 1\n', dict2,'\n')

print('dict2 Before delete method 2\n',dict2,'\n')
dict2.pop(1)
print('dict2 After delete method 2\n', dict2)

dict2 Before delete method 1
 {1: 'First', 2: 'Second'}

dict2 After delete method 1
 {1: 'First'}

dict2 Before delete method 2
 {1: 'First'}

dict2 After delete method 2
 {}

In [ ]:
# traversing dictionary

for key,value in dict3.items():
  print(key,' : ',value)

1  :  First
2  :  Second
3  :  Third
4  :  Fourth

In [ ]:
# All keys
print(dict3.keys())

#All values
print(dict3.values())

dict_keys([1, 2, 3, 4])
dict_values(['First', 'Second', 'Third', 'Fourth'])

In [ ]:
# Sort a dictionary by key

print(sorted(dict3.items(), key=lambda k:k[0]))

# Sort a dictionary by value

print(sorted(dict3.items(), key=lambda k:k[1]))

[(1, 'First'), (2, 'Second'), (3, 'Third'), (4, 'Fourth')]
[(1, 'First'), (4, 'Fourth'), (2, 'Second'), (3, 'Third')]

# Tuple



*   Immutable (Unchangeble)
*   Ordered
*   Comma seperated objects enclosed within ( )

**Declaration**

In [ ]:
tuple1=(1,2)
tuple2=tuple([1,2,3])

print(tuple1,'\n',tuple2)

(1, 2)
 (1, 2, 3)

In [ ]:
# accesiing elements
# tuple_name[index]

tuple2[2]

3

**Operations**

In [ ]:
# concatenation
# + operator is used

print(tuple1 + tuple2)

(1, 2, 1, 2, 3)

In [ ]:
# deleting tuple
# Note: Can't delete element

temp_tuple=(1,1,1,1)
print('before delete\n',temp_tuple)
del temp_tuple
temp_tuple

In [ ]:
# length of tuple
# len(tuple_name)

print(len(tuple1))

2

In [ ]:
# maximum and minimum elements

print(max(tuple2),min(tuple2))

3 1

# Regular Expression

In [ ]:
import re

In [ ]:
text='''In the early days, many language-processing systems were designed by hand-
        coding a set of rules,[9],[10] e.g. by writing grammars or devising heuristic 
        rules for stemming. However, this is rarely robust to natural language variation.
        Since the so-called "statistical revolution"[11][12] in the late 1980s and mid 
        1990s, much natural language processing research has relied heavily on machine 
        learning.The machine-learning paradigm calls instead for using statistical inference 
        to automatically learn such rules through the analysis of large corpora of typical
        real-world examples (a corpus (plural, "corpora") is a set of documents, possibly 
        with human or computer annotations).Many different classes of machine-learning 
        algorithms have been applied to natural-language-processing tasks. These 
        algorithms take as input a large set of "features" that are generated from the 
        input data. Some of the earliest-used algorithms, such as decision trees, produced 
        systems of hard if-then rules similar to the systems of hand-written rules that were 
        then common. Increasingly, however, research has focused on statistical models, 
        which make soft, probabilistic decisions based on attaching real-valued weights 
        to each input feature. Such models have the advantage that they can express the 
        relative certainty of many different possible answers rather than only one, producing
        more reliable results when such a model is included as a component of a larger system.'''

**RegEx functions**

In [ ]:
# findall
# search and returns all the matches in the string

re.findall("language", text)

['language', 'language', 'language', 'language']

In [ ]:
# search
# search and return the location of first occurence in the string

x=re.search("the", text)
x.start()

3

In [ ]:
# substitute
# replace the text

print('Occurence of "In" in the text before replace:',re.findall("In", text))
new_text=re.sub('In','Out',text)
print('Occurence of "In" in the text after replace:',re.findall("In", new_text))

Occurence of "In" in the text before replace: ['In', 'In']
Occurence of "In" in the text after replace: []

# File Handling

*   Working with text files
*   Working with csv files -- Pandas

In [ ]:
# Reading a file
filename='/content/sample_text'
with open(filename,'r') as file:
  print(file.read())

The following are the graphical (non-control) characters defined by
ISO 8859-1 (1987).  Descriptions in words aren't all that helpful,
but they're the best we can do in text.  A graphics file illustrating
the character set should be available from the same archive as this
file.

Hex Description                 Hex Description

20  SPACE
21  EXCLAMATION MARK            A1  INVERTED EXCLAMATION MARK
22  QUOTATION MARK              A2  CENT SIGN
23  NUMBER SIGN                 A3  POUND SIGN
24  DOLLAR SIGN                 A4  CURRENCY SIGN
25  PERCENT SIGN                A5  YEN SIGN
26  AMPERSAND                   A6  BROKEN BAR
27  APOSTROPHE                  A7  SECTION SIGN
28  LEFT PARENTHESIS            A8  DIAERESIS
29  RIGHT PARENTHESIS           A9  COPYRIGHT SIGN
2A  ASTERISK                    AA  FEMININE ORDINAL INDICATOR
2B  PLUS SIGN                   AB  LEFT-POINTING DOUBLE ANGLE QUOTATION MARK
2C  COMMA                       AC  NOT SIGN
2D  HYPHEN-MINUS                AD  SOFT HYPHEN
2E  FULL STOP                   AE  REGISTERED SIGN
2F  SOLIDUS                     AF  OVERLINE
30  DIGIT ZERO                  B0  DEGREE SIGN
31  DIGIT ONE                   B1  PLUS-MINUS SIGN
32  DIGIT TWO                   B2  SUPERSCRIPT TWO
33  DIGIT THREE                 B3  SUPERSCRIPT THREE
34  DIGIT FOUR                  B4  ACUTE ACCENT
35  DIGIT FIVE                  B5  MICRO SIGN
36  DIGIT SIX                   B6  PILCROW SIGN
37  DIGIT SEVEN                 B7  MIDDLE DOT
38  DIGIT EIGHT                 B8  CEDILLA
39  DIGIT NINE                  B9  SUPERSCRIPT ONE
3A  COLON                       BA  MASCULINE ORDINAL INDICATOR
3B  SEMICOLON                   BB  RIGHT-POINTING DOUBLE ANGLE QUOTATION MARK
3C  LESS-THAN SIGN              BC  VULGAR FRACTION ONE QUARTER
3D  EQUALS SIGN                 BD  VULGAR FRACTION ONE HALF
3E  GREATER-THAN SIGN           BE  VULGAR FRACTION THREE QUARTERS
3F  QUESTION MARK               BF  INVERTED QUESTION MARK
40  COMMERCIAL AT               C0  CAPITAL LETTER A WITH GRAVE
41  CAPITAL LETTER A            C1  CAPITAL LETTER A WITH ACUTE
42  CAPITAL LETTER B            C2  CAPITAL LETTER A WITH CIRCUMFLEX
43  CAPITAL LETTER C            C3  CAPITAL LETTER A WITH TILDE
44  CAPITAL LETTER D            C4  CAPITAL LETTER A WITH DIAERESIS
45  CAPITAL LETTER E            C5  CAPITAL LETTER A WITH RING ABOVE
46  CAPITAL LETTER F            C6  CAPITAL LETTER AE
47  CAPITAL LETTER G            C7  CAPITAL LETTER C WITH CEDILLA
48  CAPITAL LETTER H            C8  CAPITAL LETTER E WITH GRAVE
49  CAPITAL LETTER I            C9  CAPITAL LETTER E WITH ACUTE
4A  CAPITAL LETTER J            CA  CAPITAL LETTER E WITH CIRCUMFLEX
4B  CAPITAL LETTER K            CB  CAPITAL LETTER E WITH DIAERESIS
4C  CAPITAL LETTER L            CC  CAPITAL LETTER I WITH GRAVE
4D  CAPITAL LETTER M            CD  CAPITAL LETTER I WITH ACUTE
4E  CAPITAL LETTER N            CE  CAPITAL LETTER I WITH CIRCUMFLEX
4F  CAPITAL LETTER O            CF  CAPITAL LETTER I WITH DIAERESIS
50  CAPITAL LETTER P            D0  CAPITAL LETTER ETH (Icelandic)
51  CAPITAL LETTER Q            D1  CAPITAL LETTER N WITH TILDE
52  CAPITAL LETTER R            D2  CAPITAL LETTER O WITH GRAVE
53  CAPITAL LETTER S            D3  CAPITAL LETTER O WITH ACUTE
54  CAPITAL LETTER T            D4  CAPITAL LETTER O WITH CIRCUMFLEX
55  CAPITAL LETTER U            D5  CAPITAL LETTER O WITH TILDE
56  CAPITAL LETTER V            D6  CAPITAL LETTER O WITH DIAERESIS
57  CAPITAL LETTER W            D7  MULTIPLICATION SIGN
58  CAPITAL LETTER X            D8  CAPITAL LETTER O WITH STROKE
59  CAPITAL LETTER Y            D9  CAPITAL LETTER U WITH GRAVE
5A  CAPITAL LETTER Z            DA  CAPITAL LETTER U WITH ACUTE
5B  LEFT SQUARE BRACKET         DB  CAPITAL LETTER U WITH CIRCUMFLEX
5C  REVERSE SOLIDUS             DC  CAPITAL LETTER U WITH DIAERESIS
5D  RIGHT SQUARE BRACKET        DD  CAPITAL LETTER Y WITH ACUTE
5E  CIRCUMFLEX ACCENT           DE  CAPITAL LETTER THORN (Icelandic)
5F  LOW LINE                    DF  SMALL LETTER SHARP S (German)
60  GRAVE ACCENT                E0  SMALL LETTER A WITH GRAVE
61  SMALL LETTER A              E1  SMALL LETTER A WITH ACUTE
62  SMALL LETTER B              E2  SMALL LETTER A WITH CIRCUMFLEX
63  SMALL LETTER C              E3  SMALL LETTER A WITH TILDE
64  SMALL LETTER D              E4  SMALL LETTER A WITH DIAERESIS
65  SMALL LETTER E              E5  SMALL LETTER A WITH RING ABOVE
66  SMALL LETTER F              E6  SMALL LETTER AE
67  SMALL LETTER G              E7  SMALL LETTER C WITH CEDILLA
68  SMALL LETTER H              E8  SMALL LETTER E WITH GRAVE
69  SMALL LETTER I              E9  SMALL LETTER E WITH ACUTE
6A  SMALL LETTER J              EA  SMALL LETTER E WITH CIRCUMFLEX
6B  SMALL LETTER K              EB  SMALL LETTER E WITH DIAERESIS
6C  SMALL LETTER L              EC  SMALL LETTER I WITH GRAVE
6D  SMALL LETTER M              ED  SMALL LETTER I WITH ACUTE
6E  SMALL LETTER N              EE  SMALL LETTER I WITH CIRCUMFLEX
6F  SMALL LETTER O              EF  SMALL LETTER I WITH DIAERESIS
70  SMALL LETTER P              F0  SMALL LETTER ETH (Icelandic)
71  SMALL LETTER Q              F1  SMALL LETTER N WITH TILDE
72  SMALL LETTER R              F2  SMALL LETTER O WITH GRAVE
73  SMALL LETTER S              F3  SMALL LETTER O WITH ACUTE
74  SMALL LETTER T              F4  SMALL LETTER O WITH CIRCUMFLEX
75  SMALL LETTER U              F5  SMALL LETTER O WITH TILDE
76  SMALL LETTER V              F6  SMALL LETTER O WITH DIAERESIS
77  SMALL LETTER W              F7  DIVISION SIGN
78  SMALL LETTER X              F8  SMALL LETTER O WITH STROKE
79  SMALL LETTER Y              F9  SMALL LETTER U WITH GRAVE
7A  SMALL LETTER Z              FA  SMALL LETTER U WITH ACUTE
7B  LEFT CURLY BRACKET          FB  SMALL LETTER U WITH CIRCUMFLEX
7C  VERTICAL LINE               FC  SMALL LETTER U WITH DIAERESIS
7D  RIGHT CURLY BRACKET         FD  SMALL LETTER Y WITH ACUTE
7E  TILDE                       FE  SMALL LETTER THORN (Icelandic)
                                FF  SMALL LETTER Y WITH DIAERESIS

In [ ]:
# writing to file
# careful! content will be overwritten

filename='/content/sample_text'
with open(filename,'w') as file:
  print(file.write('this is new text!'))

17

In [ ]:
# appending to file

filename='/content/sample_text'
with open(filename,'a') as file:
  print(file.write('this is new text'))

with open(filename,'r') as file:
  print(file.read())

16
The following are the graphical (non-control) characters defined by
ISO 8859-1 (1987).  Descriptions in words aren't all that helpful,
but they're the best we can do in text.  A graphics file illustrating
the character set should be available from the same archive as this
file.

Hex Description                 Hex Description

20  SPACE
21  EXCLAMATION MARK            A1  INVERTED EXCLAMATION MARK
22  QUOTATION MARK              A2  CENT SIGN
23  NUMBER SIGN                 A3  POUND SIGN
24  DOLLAR SIGN                 A4  CURRENCY SIGN
25  PERCENT SIGN                A5  YEN SIGN
26  AMPERSAND                   A6  BROKEN BAR
27  APOSTROPHE                  A7  SECTION SIGN
28  LEFT PARENTHESIS            A8  DIAERESIS
29  RIGHT PARENTHESIS           A9  COPYRIGHT SIGN
2A  ASTERISK                    AA  FEMININE ORDINAL INDICATOR
2B  PLUS SIGN                   AB  LEFT-POINTING DOUBLE ANGLE QUOTATION MARK
2C  COMMA                       AC  NOT SIGN
2D  HYPHEN-MINUS                AD  SOFT HYPHEN
2E  FULL STOP                   AE  REGISTERED SIGN
2F  SOLIDUS                     AF  OVERLINE
30  DIGIT ZERO                  B0  DEGREE SIGN
31  DIGIT ONE                   B1  PLUS-MINUS SIGN
32  DIGIT TWO                   B2  SUPERSCRIPT TWO
33  DIGIT THREE                 B3  SUPERSCRIPT THREE
34  DIGIT FOUR                  B4  ACUTE ACCENT
35  DIGIT FIVE                  B5  MICRO SIGN
36  DIGIT SIX                   B6  PILCROW SIGN
37  DIGIT SEVEN                 B7  MIDDLE DOT
38  DIGIT EIGHT                 B8  CEDILLA
39  DIGIT NINE                  B9  SUPERSCRIPT ONE
3A  COLON                       BA  MASCULINE ORDINAL INDICATOR
3B  SEMICOLON                   BB  RIGHT-POINTING DOUBLE ANGLE QUOTATION MARK
3C  LESS-THAN SIGN              BC  VULGAR FRACTION ONE QUARTER
3D  EQUALS SIGN                 BD  VULGAR FRACTION ONE HALF
3E  GREATER-THAN SIGN           BE  VULGAR FRACTION THREE QUARTERS
3F  QUESTION MARK               BF  INVERTED QUESTION MARK
40  COMMERCIAL AT               C0  CAPITAL LETTER A WITH GRAVE
41  CAPITAL LETTER A            C1  CAPITAL LETTER A WITH ACUTE
42  CAPITAL LETTER B            C2  CAPITAL LETTER A WITH CIRCUMFLEX
43  CAPITAL LETTER C            C3  CAPITAL LETTER A WITH TILDE
44  CAPITAL LETTER D            C4  CAPITAL LETTER A WITH DIAERESIS
45  CAPITAL LETTER E            C5  CAPITAL LETTER A WITH RING ABOVE
46  CAPITAL LETTER F            C6  CAPITAL LETTER AE
47  CAPITAL LETTER G            C7  CAPITAL LETTER C WITH CEDILLA
48  CAPITAL LETTER H            C8  CAPITAL LETTER E WITH GRAVE
49  CAPITAL LETTER I            C9  CAPITAL LETTER E WITH ACUTE
4A  CAPITAL LETTER J            CA  CAPITAL LETTER E WITH CIRCUMFLEX
4B  CAPITAL LETTER K            CB  CAPITAL LETTER E WITH DIAERESIS
4C  CAPITAL LETTER L            CC  CAPITAL LETTER I WITH GRAVE
4D  CAPITAL LETTER M            CD  CAPITAL LETTER I WITH ACUTE
4E  CAPITAL LETTER N            CE  CAPITAL LETTER I WITH CIRCUMFLEX
4F  CAPITAL LETTER O            CF  CAPITAL LETTER I WITH DIAERESIS
50  CAPITAL LETTER P            D0  CAPITAL LETTER ETH (Icelandic)
51  CAPITAL LETTER Q            D1  CAPITAL LETTER N WITH TILDE
52  CAPITAL LETTER R            D2  CAPITAL LETTER O WITH GRAVE
53  CAPITAL LETTER S            D3  CAPITAL LETTER O WITH ACUTE
54  CAPITAL LETTER T            D4  CAPITAL LETTER O WITH CIRCUMFLEX
55  CAPITAL LETTER U            D5  CAPITAL LETTER O WITH TILDE
56  CAPITAL LETTER V            D6  CAPITAL LETTER O WITH DIAERESIS
57  CAPITAL LETTER W            D7  MULTIPLICATION SIGN
58  CAPITAL LETTER X            D8  CAPITAL LETTER O WITH STROKE
59  CAPITAL LETTER Y            D9  CAPITAL LETTER U WITH GRAVE
5A  CAPITAL LETTER Z            DA  CAPITAL LETTER U WITH ACUTE
5B  LEFT SQUARE BRACKET         DB  CAPITAL LETTER U WITH CIRCUMFLEX
5C  REVERSE SOLIDUS             DC  CAPITAL LETTER U WITH DIAERESIS
5D  RIGHT SQUARE BRACKET        DD  CAPITAL LETTER Y WITH ACUTE
5E  CIRCUMFLEX ACCENT           DE  CAPITAL LETTER THORN (Icelandic)
5F  LOW LINE                    DF  SMALL LETTER SHARP S (German)
60  GRAVE ACCENT                E0  SMALL LETTER A WITH GRAVE
61  SMALL LETTER A              E1  SMALL LETTER A WITH ACUTE
62  SMALL LETTER B              E2  SMALL LETTER A WITH CIRCUMFLEX
63  SMALL LETTER C              E3  SMALL LETTER A WITH TILDE
64  SMALL LETTER D              E4  SMALL LETTER A WITH DIAERESIS
65  SMALL LETTER E              E5  SMALL LETTER A WITH RING ABOVE
66  SMALL LETTER F              E6  SMALL LETTER AE
67  SMALL LETTER G              E7  SMALL LETTER C WITH CEDILLA
68  SMALL LETTER H              E8  SMALL LETTER E WITH GRAVE
69  SMALL LETTER I              E9  SMALL LETTER E WITH ACUTE
6A  SMALL LETTER J              EA  SMALL LETTER E WITH CIRCUMFLEX
6B  SMALL LETTER K              EB  SMALL LETTER E WITH DIAERESIS
6C  SMALL LETTER L              EC  SMALL LETTER I WITH GRAVE
6D  SMALL LETTER M              ED  SMALL LETTER I WITH ACUTE
6E  SMALL LETTER N              EE  SMALL LETTER I WITH CIRCUMFLEX
6F  SMALL LETTER O              EF  SMALL LETTER I WITH DIAERESIS
70  SMALL LETTER P              F0  SMALL LETTER ETH (Icelandic)
71  SMALL LETTER Q              F1  SMALL LETTER N WITH TILDE
72  SMALL LETTER R              F2  SMALL LETTER O WITH GRAVE
73  SMALL LETTER S              F3  SMALL LETTER O WITH ACUTE
74  SMALL LETTER T              F4  SMALL LETTER O WITH CIRCUMFLEX
75  SMALL LETTER U              F5  SMALL LETTER O WITH TILDE
76  SMALL LETTER V              F6  SMALL LETTER O WITH DIAERESIS
77  SMALL LETTER W              F7  DIVISION SIGN
78  SMALL LETTER X              F8  SMALL LETTER O WITH STROKE
79  SMALL LETTER Y              F9  SMALL LETTER U WITH GRAVE
7A  SMALL LETTER Z              FA  SMALL LETTER U WITH ACUTE
7B  LEFT CURLY BRACKET          FB  SMALL LETTER U WITH CIRCUMFLEX
7C  VERTICAL LINE               FC  SMALL LETTER U WITH DIAERESIS
7D  RIGHT CURLY BRACKET         FD  SMALL LETTER Y WITH ACUTE
7E  TILDE                       FE  SMALL LETTER THORN (Icelandic)
                                FF  SMALL LETTER Y WITH DIAERESIS
this is new textthis is new text

In [ ]:
# readlines

with open(filename,'r') as file:
  lines=file.readlines()
  for line in lines:
    print(line)

The following are the graphical (non-control) characters defined by

ISO 8859-1 (1987).  Descriptions in words aren't all that helpful,

but they're the best we can do in text.  A graphics file illustrating

the character set should be available from the same archive as this

file.



Hex Description                 Hex Description



20  SPACE

21  EXCLAMATION MARK            A1  INVERTED EXCLAMATION MARK

22  QUOTATION MARK              A2  CENT SIGN

23  NUMBER SIGN                 A3  POUND SIGN

24  DOLLAR SIGN                 A4  CURRENCY SIGN

25  PERCENT SIGN                A5  YEN SIGN

26  AMPERSAND                   A6  BROKEN BAR

27  APOSTROPHE                  A7  SECTION SIGN

28  LEFT PARENTHESIS            A8  DIAERESIS

29  RIGHT PARENTHESIS           A9  COPYRIGHT SIGN

2A  ASTERISK                    AA  FEMININE ORDINAL INDICATOR

2B  PLUS SIGN                   AB  LEFT-POINTING DOUBLE ANGLE QUOTATION MARK

2C  COMMA                       AC  NOT SIGN

2D  HYPHEN-MINUS                AD  SOFT HYPHEN

2E  FULL STOP                   AE  REGISTERED SIGN

2F  SOLIDUS                     AF  OVERLINE

30  DIGIT ZERO                  B0  DEGREE SIGN

31  DIGIT ONE                   B1  PLUS-MINUS SIGN

32  DIGIT TWO                   B2  SUPERSCRIPT TWO

33  DIGIT THREE                 B3  SUPERSCRIPT THREE

34  DIGIT FOUR                  B4  ACUTE ACCENT

35  DIGIT FIVE                  B5  MICRO SIGN

36  DIGIT SIX                   B6  PILCROW SIGN

37  DIGIT SEVEN                 B7  MIDDLE DOT

38  DIGIT EIGHT                 B8  CEDILLA

39  DIGIT NINE                  B9  SUPERSCRIPT ONE

3A  COLON                       BA  MASCULINE ORDINAL INDICATOR

3B  SEMICOLON                   BB  RIGHT-POINTING DOUBLE ANGLE QUOTATION MARK

3C  LESS-THAN SIGN              BC  VULGAR FRACTION ONE QUARTER

3D  EQUALS SIGN                 BD  VULGAR FRACTION ONE HALF

3E  GREATER-THAN SIGN           BE  VULGAR FRACTION THREE QUARTERS

3F  QUESTION MARK               BF  INVERTED QUESTION MARK

40  COMMERCIAL AT               C0  CAPITAL LETTER A WITH GRAVE

41  CAPITAL LETTER A            C1  CAPITAL LETTER A WITH ACUTE

42  CAPITAL LETTER B            C2  CAPITAL LETTER A WITH CIRCUMFLEX

43  CAPITAL LETTER C            C3  CAPITAL LETTER A WITH TILDE

44  CAPITAL LETTER D            C4  CAPITAL LETTER A WITH DIAERESIS

45  CAPITAL LETTER E            C5  CAPITAL LETTER A WITH RING ABOVE

46  CAPITAL LETTER F            C6  CAPITAL LETTER AE

47  CAPITAL LETTER G            C7  CAPITAL LETTER C WITH CEDILLA

48  CAPITAL LETTER H            C8  CAPITAL LETTER E WITH GRAVE

49  CAPITAL LETTER I            C9  CAPITAL LETTER E WITH ACUTE

4A  CAPITAL LETTER J            CA  CAPITAL LETTER E WITH CIRCUMFLEX

4B  CAPITAL LETTER K            CB  CAPITAL LETTER E WITH DIAERESIS

4C  CAPITAL LETTER L            CC  CAPITAL LETTER I WITH GRAVE

4D  CAPITAL LETTER M            CD  CAPITAL LETTER I WITH ACUTE

4E  CAPITAL LETTER N            CE  CAPITAL LETTER I WITH CIRCUMFLEX

4F  CAPITAL LETTER O            CF  CAPITAL LETTER I WITH DIAERESIS

50  CAPITAL LETTER P            D0  CAPITAL LETTER ETH (Icelandic)

51  CAPITAL LETTER Q            D1  CAPITAL LETTER N WITH TILDE

52  CAPITAL LETTER R            D2  CAPITAL LETTER O WITH GRAVE

53  CAPITAL LETTER S            D3  CAPITAL LETTER O WITH ACUTE

54  CAPITAL LETTER T            D4  CAPITAL LETTER O WITH CIRCUMFLEX

55  CAPITAL LETTER U            D5  CAPITAL LETTER O WITH TILDE

56  CAPITAL LETTER V            D6  CAPITAL LETTER O WITH DIAERESIS

57  CAPITAL LETTER W            D7  MULTIPLICATION SIGN

58  CAPITAL LETTER X            D8  CAPITAL LETTER O WITH STROKE

59  CAPITAL LETTER Y            D9  CAPITAL LETTER U WITH GRAVE

5A  CAPITAL LETTER Z            DA  CAPITAL LETTER U WITH ACUTE

5B  LEFT SQUARE BRACKET         DB  CAPITAL LETTER U WITH CIRCUMFLEX

5C  REVERSE SOLIDUS             DC  CAPITAL LETTER U WITH DIAERESIS

5D  RIGHT SQUARE BRACKET        DD  CAPITAL LETTER Y WITH ACUTE

5E  CIRCUMFLEX ACCENT           DE  CAPITAL LETTER THORN (Icelandic)

5F  LOW LINE                    DF  SMALL LETTER SHARP S (German)

60  GRAVE ACCENT                E0  SMALL LETTER A WITH GRAVE

61  SMALL LETTER A              E1  SMALL LETTER A WITH ACUTE

62  SMALL LETTER B              E2  SMALL LETTER A WITH CIRCUMFLEX

63  SMALL LETTER C              E3  SMALL LETTER A WITH TILDE

64  SMALL LETTER D              E4  SMALL LETTER A WITH DIAERESIS

65  SMALL LETTER E              E5  SMALL LETTER A WITH RING ABOVE

66  SMALL LETTER F              E6  SMALL LETTER AE

67  SMALL LETTER G              E7  SMALL LETTER C WITH CEDILLA

68  SMALL LETTER H              E8  SMALL LETTER E WITH GRAVE

69  SMALL LETTER I              E9  SMALL LETTER E WITH ACUTE

6A  SMALL LETTER J              EA  SMALL LETTER E WITH CIRCUMFLEX

6B  SMALL LETTER K              EB  SMALL LETTER E WITH DIAERESIS

6C  SMALL LETTER L              EC  SMALL LETTER I WITH GRAVE

6D  SMALL LETTER M              ED  SMALL LETTER I WITH ACUTE

6E  SMALL LETTER N              EE  SMALL LETTER I WITH CIRCUMFLEX

6F  SMALL LETTER O              EF  SMALL LETTER I WITH DIAERESIS

70  SMALL LETTER P              F0  SMALL LETTER ETH (Icelandic)

71  SMALL LETTER Q              F1  SMALL LETTER N WITH TILDE

72  SMALL LETTER R              F2  SMALL LETTER O WITH GRAVE

73  SMALL LETTER S              F3  SMALL LETTER O WITH ACUTE

74  SMALL LETTER T              F4  SMALL LETTER O WITH CIRCUMFLEX

75  SMALL LETTER U              F5  SMALL LETTER O WITH TILDE

76  SMALL LETTER V              F6  SMALL LETTER O WITH DIAERESIS

77  SMALL LETTER W              F7  DIVISION SIGN

78  SMALL LETTER X              F8  SMALL LETTER O WITH STROKE

79  SMALL LETTER Y              F9  SMALL LETTER U WITH GRAVE

7A  SMALL LETTER Z              FA  SMALL LETTER U WITH ACUTE

7B  LEFT CURLY BRACKET          FB  SMALL LETTER U WITH CIRCUMFLEX

7C  VERTICAL LINE               FC  SMALL LETTER U WITH DIAERESIS

7D  RIGHT CURLY BRACKET         FD  SMALL LETTER Y WITH ACUTE

7E  TILDE                       FE  SMALL LETTER THORN (Icelandic)

                                FF  SMALL LETTER Y WITH DIAERESIS

this is new textthis is new text